// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #6190E8;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Theme
$online: #13ce66;
$offline: #747f8d;
$idle: #ffc82c;

$light: #fff;
$dark: #1B2A3F;
$darker: #101C2E;

$dark-bg--primary: #343a40;
$light-bg--primary: #fff;

// Dropdown
$dropdown-min-width: 3rem;
$dropdown-padding-y: .25rem;
$dropdown-item-padding-x: .5rem;
$dropdown-item-padding-y: 0;
