// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// AT-UI
@import '~at-ui-style/src/index.scss';

// External CSS
@import 'offline-ui';
@import 'tooltips';
@import '~vuejs-dialog/dist/vuejs-dialog.min.css';

.app-container, main {
  width: 100vw;
  width: 100%;
  height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.container, .container-fluid, .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}
