// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// External CSS
@import 'offline-ui';
@import 'tooltips';
@import '~vuejs-dialog/dist/vuejs-dialog.min.css';

$main-header-colour: #1c263e;
$main-bg-colour: #0f1a26;
$secondary-bg-colour: #1c2835;
$tertiary-bg-colour: #17212c;
$primary-colour: #ff3333;
$primary-hover-colour: #e92c2c;
$outline-colour: #e5e6eb;
$sidebar-width: 300px;
$sidebar-left-width: 300px;
$a-colour: #a3b4cc;
$a-hover-colour: #e5eaf1;
$good-colour: #22b66e;
$bad-colour: #ea2e49;

// Declare all variables here
:root {
    --main-header-colour: #1c263e;
    --main-bg-colour: #0f1a26;
    --secondary-bg-colour: #1c2835;
    --tertiary-bg-colour: #17212c;
    --primary-colour: #ff3333;
    --primary-hover-colour: #e92c2c;
    --outline-colour: #e5e6eb;
    --sidebar-width: 300px;
    --sidebar-left-width: 300px;
    --a-colour: #a3b4cc;
    --a-hover-colour: #e5eaf1;
    --good-colour: #22b66e;
    --bad-colour: #ea2e49;
}

.dg-container {
  animation: none !important;
}

.dg-backdrop {
  background-color: rgba(0, 0, 0, 0.85);
}

.dg-pull-right {
  float: none;
}

.dg-content-cont--floating {
  top: 50%;
}

.dg-main-content {
  background-color: var(--main-bg-colour);
  color: #fff;
  font-size: 14px;
  padding: 0;
  width: 440px;
  max-width: 800px;
}

.dg-title {
  text-transform: uppercase;
  font-size: 16px;
}

.dg-view-wrapper > div {
  padding: 20px;
}

.dg-clear {
  display: none;
}

.dg-content-body {
  border: none;
}

.dg-content-footer {
  background-color: var(--secondary-bg-colour);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dg-btn {
  width: 96px;
  height: 38px;
  font-size: 14px;
  padding: 2px 16px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-weight: 400;
}

.dg-btn--cancel, .dg-btn--cancel:hover {
  background: none !important;
}

.dg-btn--cancel:hover {
  text-decoration: underline;
}

.dg-btn--ok {
  background-color: var(--primary-colour);
}

.dg-btn--ok:hover {
  background-color: var(--primary-hover-colour) !important;
}

.dg-btn-loader .dg-circle {
  background-color: #fff;
  width: .6em;
  height: .6em;
}

/* MAIN CSS */

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: var(--main-bg-colour);
  overflow: hidden;
}

h1 {
  color: var(--main-header-colour);
}

h3 {
  color: #868a9d;
  font-weight: normal;
  font-size: 16px;
}

p {
  color: var(--main-bg-colour);
}

a, a:not([href]):not([tabindex]) {
  color: var(--primary-colour);
  cursor: pointer;
}

a:hover, a:not([href]):not([tabindex]):hover {
  color: var(--primary-hover-colour);
  text-decoration: none;
}

*:focus, input, input[type=checkbox]:focus, label::before, input[type=radio]:focus, label::before, button, button:focus, a {
  outline: none !important;
  box-shadow: none !important;
}

label, a {
  -webkit-transition: all .2s ease;
}

h6 span {
  font-weight: normal;
}

.btn {
  background-color: var(--primary-colour);
  height: 32px;
  font-size: 14px;
  padding: 2px 16px;
  border-radius: 3px;
}

.btn, .btn:hover, .btn:active, .btn:focus {
  border: none;
  color: #fff;
}

.btn:hover, .btn:active {
  background-color: var(--primary-hover-colour) !important;
}

.btn-primary.btn-sm {
  font-size: 14px;
  max-height: 32px;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
  background: none !important;
}

.btn-secondary:hover {
  text-decoration: underline;
}

.btn-delete {
  border: 1px solid var(--primary-colour);
}

.btn-delete:hover, .btn-delete:focus, .btn-delete:active {
  border: 1px solid var(--primary-hover-colour) !important;
  color: var(--primary-hover-colour) !important;
}

.btn-delete, .btn-delete:hover, .btn-delete:focus, .btn-delete:active {
  background: none !important;
  color: var(--primary-colour);
}

.show {
  display: block;
}

.app-container, .background {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  z-index: -999;
}

.dark-bg {
  background-color: var(--main-bg-colour);
}

.main, main {
  height: 100%;
  width: 100%;
  transform: scale(1);
}

.content {
  padding-left: var(--sidebar-width);
}

[data-toggle="popover"] {
  cursor: pointer;
}

.navbar {
  background-color: #fff;
  border-bottom: 2px solid var(--outline-colour);
}

.navbar, .content {
  margin: 0 var(--sidebar-left-width) 0 var(--sidebar-width);
  padding: 0;
  padding: 0 0 0 2rem;
  /*padding-left: calc(20% + 2rem);*/
}

.navbar, .content {
  background-color: #fff;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.navbar-nav h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.navbar-nav.ml-auto {
  padding-right: 2rem;
}

.nav-link, h5 {
  color: var(--main-header-colour);
  padding: 0 !important;
}

.sidebar-wrapper {
  left: var(--sidebar-width);
  top: 0;
  width: var(--sidebar-width);
  background-color: var(--main-bg-colour);
  color: var(--primary-colour);
  position: fixed;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
  margin-left: calc(-1 * var(--sidebar-width));
}

.sidebar-inner {
  width: 100%;
}

.sidebar-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  margin-top: 35px;
}

.sidebar-nav li {
  text-align: center;
  margin-bottom: -7px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.mb-20, .sidebar-nav li.bottom, .sidebar-nav h3 {
  margin-bottom: 20px;
}

.sidebar-nav h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.sidebar-nav li a {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.sidebar-nav li a, .sidebar .brand {
  display: block;
  height: 42px;
  display: flex;
  align-items: center;
  text-indent: 30px;
}

.sidebar-nav li .channel-actions {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
  z-index: 1;
  right: 0;
  padding-bottom: 10px;
}

.sidebar-nav li .channel-actions .badge {
  text-indent: 0px;
  padding: .25em;
  float: right;
  font-size: 12px;
  height: 18px;
  width: 18px;
}

.sidebar-nav li .channel-actions .badge.new-message {
  color: #fff;
  background-color: var(--primary-colour);
  margin-left: 4px;
}

.sidebar-nav li:hover .channel-actions .icon, .sidebar-nav li.active .channel-actions .icon {
  display: inherit !important;
}

#channels li:last-child a:hover, #channels li:last-child:hover a {
  background: none;
}

#channels .channel-actions .icon {
  margin: 0;
  width: auto;
  height: auto;
  display: none;
  line-height: 0px;
}

#channels .channel-actions .icon:hover {
  background: inherit;
}

#channels .channel-actions .icon i {
  font-size: 18px;
  margin: 0;
}

.sidebar .brand {
  margin-bottom: 0;
  text-indent: 0;
  background-color: var(--secondary-bg-colour);
  padding: 0 30px;
}

.sidebar .brand .icon {
  margin: 0;
}

.navbar, .sidebar .brand {
  height: 70px;
}

.sidebar-left {
  left: 0;
  right: var(--sidebar-left-width);
  margin: 70px calc(-1 * var(--sidebar-left-width)) 0px auto;
  width: var(--sidebar-left-width);
}

.sidebar-left .close {
  display: none;
  margin: 0;
  margin-top: -7px;
  z-index: 2000;
}

.sidebar-left .close:hover {
  background: var(--secondary-bg-colour);
}

.sidebar-left .close i, .menu i {
  margin: 0 !important;
}

.menu {
  margin: 0;
}

.brand .user .username {
  color: #fff;
}

.brand .user .avatar {
  height: 35px;
  width: 35px;
}

.brand .user .status-badge {
  border-color: var(--secondary-bg-colour);
  top: 24px;
  left: 24px;
  height: 14px;
  width: 14px;
}

.user-actions, .ui-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-actions .icon:last-child {
  margin-right: 0;
}

.ui-actions, .ui-actions .icon i, .user-actions .icon i {
  margin-right: 0;
}

.icon {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--main-header-colour);
}

.icon:hover i {
  color: #fff;
}

.user-actions .icon:hover {
  background-color: var(--tertiary-bg-colour);
}

.icon {
  display: flex;
  align-items: center;
}

.icon i {
  font-size: 18px;
  margin-right: 10px;
}

.sidebar .brand i, .close i {
  color: #fff;
}

.sidebar-nav li i {
  font-size: 24px;
  margin-right: -5px;
  text-indent: 0;
}

.sidebar-nav li i, .sidebar-nav li a, .sidebar-nav li a:not([href]):not([tabindex]), .sidebar .brand, .icon i {
  color: var(--a-colour);
}

.sidebar-nav h3, .sidebar-nav li i, .sidebar-nav li a {
  text-indent: 30px;
}

.sidebar-nav .active {
  /*border-right: 5px solid var(--primary-colour);*/
}

.sidebar-nav .active a, .sidebar-nav .active:hover a {
  background: var(--secondary-bg-colour);
}

.sidebar-nav .active a, .sidebar-nav .active i {
  color: #fff !important;
}

.sidebar-nav .active i {
  font-weight: 400;
}

.sidebar-nav li:not(.active):hover a {
  background: var(--secondary-bg-colour);
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.row {
  flex-direction: column;
  position: relative;
}

.page-title {
  text-align: center;
  height: fit-content;
}

.page-title h1, .page-title h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.page-title h1 {
  margin-bottom: 5px;
}

.page-title h3 {
  font-weight: normal;
}

.page-text {
  text-align: center;
}

.profile {
  width: 300px;
}

.dropdown-toggle::after {
  display: none;
}

#userarea {
  border-left: 1px solid var(--outline-colour);
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.user {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.avatar {
  border-radius: 100%;
  vertical-align: middle;
}

.user .avatar {
  margin-right: 10px;
}

.user .avatar, .channel-icon {
  width: 30px;
  height: 30px;
}

#users .user .avatar {
  cursor: pointer;
}

.user .avatar.avatar-xl {
  height: 100px;
  width: 100px;
}

.user .avatar.avatar-xl img {
  margin-right: 0;
}

.status-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  border: 2px #fff solid;
  background-color: #747f8d;
}

.status-badge.online {
  background-color: var(--good-colour);
}

.status-badge.away {
  background-color: #faa61a;
}

.status-badge.text-badge {
  position: inherit;
  border: none;
  height: 8px;
  width: 8px;
  margin-left: 5px;
}

.text-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 20px;
}

.text-status p {
  font-size: 14px;
  color: var(--a-colour);
}

.user .username {
  font-size: 15px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-profile .user {
  margin-bottom: 10px;
}

.account {
  padding: .25rem 1.5rem;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 70px;
}

.wide {
  width: 95%;
}

.table thead th {
  border: none;
}

.card {
  border-color: transparent;
  border-radius: 2px;
  border: 1px solid var(--outline-colour);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .02);
}

.card.fat {
  padding: 10px;
}

.card .card-title {
  margin-bottom: 30px;
}

.card-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
}

form, .form-wrapper {
  transition: none;
}

.form-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 600px;
}

.form-control, .form-control:focus {
  border-width: 1px;
  border-color: #d3dae1;
  border: 1px solid #e6ecf5;
  min-height: 55px;
  resize: none;
  max-height: 200px;
  padding: 20px 48px 0 12px;
}

.form-control, .form-control:focus, .form-control.inline-scroll {
  height: 55px;
}

.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  left: 12px;
  top: 15px;
  font-size: 16px;
  color: #868a9d;
}

.form-group-alt {
  text-align: left;
}

.form-group-alt .form-control {
  min-height: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--tertiary-bg-colour);
  background: var(--secondary-bg-colour);
  color: #fff;
}

.form-group-alt .form-control:focus {
  border: 1px solid var(--tertiary-bg-colour);
}

.form-group-alt label, .form-group-alt label.active {
  position: relative;
  left: 0;
  top: 0 !important;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit !important;
}

input:focus~label, textarea:focus~label, label.active {
  top: 5px !important;
  font-size: 14px !important;
  color: #d3dae1 !important;
}

.form-options {
  display: flex;
}

.form-error {
  margin-top: 5px;
  color: var(--bad-colour);
}

.user-settings {
  width: 100%;
}

.user-settings .heading-subtitle {
  color: #fff;
}

.user-settings form {
  width: 100%;
  display: flex;
}

.user-settings .info-wrapper {
  width: 100%;
}

.user-settings .avatar-wrapper {
  flex-shrink: 0;
}

.user-settings .form-control, .user-settings .form-control:disabled, .user-settings .form-control[readonly] {
  background-color: var(--secondary-bg-colour);
  border-color: var(--tertiary-bg-colour);
  color: #fff;
}

.user-settings .form-control:disabled, .user-settings .form-control[readonly] {
  background-color: var(--tertiary-bg-colour);
}

.user-settings .form-control.is-invalid, .user-settings .form-control:disabled.is-invalid, .user-settings .form-control[readonly].is-invalid {
  border-color: var(--bad-colour);
}

.user-settings .form-submit {
  margin-left: auto;
  display: flex;
  margin-bottom: 0;
}

.user-settings-box {
  padding: 20px;
  background-color: var(--main-bg-colour);
  border: 1px solid var(--main-header-colour);
  border-radius: 5px;
  min-width: 500px;
}

.user-settings-inner {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.user-settings-inner.editing {
  height: auto;
  align-items: inherit;
}

.user-settings div.avatar {
  margin-right: 20px;
  background-color: var(--main-bg-colour);
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--outline-colour);
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

.user-settings div.avatar:hover {
  opacity: 0.5;
}

.user-settings a.avatar {
  margin-right: 20px;
  padding: 0;
}

.user-settings .avatar {
  margin-right: 20px;
}

.avatar input {
  position: absolute !important;
  top: -2000px;
}

.user-settings-info h6 {
  color: #fff;
  font-size: 16px;
}

.user-settings-info h3 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 12px;
}

#avatar-group {
  display: flex;
  align-items: center;
}

#avatar-group img {
  max-height: 200px;
  margin-left: auto;
}

.input-group {
  padding-right: 50px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  height: 55px;
  display: flex;
  align-items: center;
  color: #fff;
  min-width: 150px;
  text-align: center;
  justify-content: center;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: center;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #d3dae1;
  padding: 0;
  padding-left: 12px;
}

.form-control[readonly]+label {
  display: none;
}

.tooltip {
  position: fixed;
  z-index: 99999;
}

.tooltip-inner {
  text-align: left;
}

.tooltip-inner h1 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

/*.btn[type="submit"] {
  padding: inherit;
}*/

.margin-top20 {
  margin-top: 20px;
}

.margin-top10 {
  margin-top: 10px;
}

.no-margin {
  margin: 0;
}

.footer {
  margin: 40px 0;
  color: #888;
  text-align: center;
}

.overlay {
  position: fixed;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.overlay.disable, .modal-backdrop.fade {
  background-color: rgba(0, 0, 0, 0.85);
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: var(--main-header-colour);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.good {
  color: var(--good-colour) !important;
}

.bad {
  color: var(--bad-colour) !important;
}

.info {
  color: #907eec !important;
}

button[type="submit"] {
  border-radius: 4px;
}

#account-form button[type="submit"] {
  max-width: 300px;
  margin: auto;
}

.g-recaptcha {
  max-width: 304px;
  margin: auto;
}

.emptyfill {
  height: 100vh !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.channel-icon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.channel-icon i {
  margin-right: 1px !important;
}

.channel-name {
  text-indent: 0;
  text-align: left;
  padding-left: 10px;
}

#channels li a {
  height: 32px;
}

#channels li:not(.active) a:hover .channel-name, #channels li:not(.active) a:hover i {
  color: var(--a-hover-colour);
}

#channels li i {
  font-size: 18px;
  text-indent: 0;
}

#channels li a .user .avatar, #users li a .user .avatar {
  margin-right: 0;
}

#channels li a .user .status-badge, #users li a .user .status-badge {
  border-color: var(--main-bg-colour);
}

#channels li.active a .user .status-badge, #channels li:hover a .user .status-badge, #users li:hover a .user .status-badge {
  border-color: var(--secondary-bg-colour);
}

.sidebar-left {
  margin-top: 0;
}

.sidebar-hide {
  margin-left: 0;
}

.userlist-hide {
  margin-right: 0;
}

.input-modal .modal-dialog {
  max-width: 800px;
}

.input-modal .modal-dialog .modal-content, .input-modal .modal-dialog .modal-content .modal-body {
  background: none;
  padding: 0;
  border: none;
}

.input-modal .modal-dialog .modal-content .modal-body .form-group {
  margin: 0;
}

.input-modal .modal-dialog .modal-content .modal-body .form-group .form-field {
  height: 110px;
  width: 800px;
  margin: auto;
  font-size: 28px;
}

.input-modal .modal-dialog .modal-content .modal-body .form-group label {
  font-size: 32px;
  top: 30px;
}

.input-modal .modal-dialog .modal-content .modal-body .form-group input:focus~label, .input-modal .modal-dialog .modal-content .modal-body .form-group label.active {
  font-size: 28px !important;
}

.modal, .overlay {
  z-index: 9999999;
}

.modal-backdrop {
  z-index: 9999998;
}

.modal-alert .modal-content {
  width: 440px;
  height: auto;
  border: none;
  background-color: var(--main-bg-colour);
  color: var(--a-colour);
  text-align: center;
}

.modal-alert .modal-body, .modal-alert .modal-header {
  padding: 0;
}

.modal-alert .modal-header {
  color: #fff;
  background-color: var(--main-bg-colour);
  padding-left: 0 !important;
}

.modal-alert .modal-text {
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.modal-alert .modal-text-inline {
  width: 100%;
}

.modal-alert .modal-header .modal-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.modal-alert .modal-footer {
  background-color: var(--secondary-bg-colour);
  padding: 20px;
  height: 100%;
}

.modal-alert .modal-body {
  display: flex;
}

.modal-alert .modal-body.form {
  flex-direction: column;
  justify-content: center;
}

.modal-alert .modal-header, .modal-alert .modal-footer {
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.modal-alert .modal-header {
  padding-top: 0;
}

.modal-alert .modal-footer-inner {
  display: flex;
  width: auto;
  flex-direction: row-reverse;
  width: 100%;
}

.modal-alert .modal-footer .btn {
  min-width: 96px;
  min-height: 38px;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal.fade.scale, .modal.fade.scale .modal-dialog, .modal-backdrop.fade {
  transition: all .2s ease;
}

.modal.fade.scale, .modal.fade.scale .modal-dialog {
  opacity: 1;
  transform: none;
  transform: scale(1);
}

.modal.fade.scale:not(.show) {
  opacity: 0;
  transform: none;
  transform: scale(0.9);
}

.chat-wrapper {
  min-height: 600px;
  position: relative;
  padding-top: 70px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid var(--outline-colour);
  display: flex;
  flex-direction: row;
}

.chat-message.bottom {
  border-bottom: none;
}

.chat-message.message-close-before {
  border-bottom: none;
  padding-bottom: 1px;
}

.chat-message.message-close {
  padding-top: 0;
}

.chat-message.message-close .chat-content {
  padding-left: 50px;
}

.chat-message.unread {

}

.chat-message.right {
  margin-right: 0;
  margin-left: auto;
}

.chat-message .user {
  display: block;
}

.chat-message .user .avatar {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

.chat-text {
  position: relative;
}

.chat-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-markup {
  font-size: 15px;
  word-wrap: break-word;
  margin-top: 2px;
  white-space: pre-line;
  max-width: 95%;
}

img.chat-markup {
  max-height: 200px;
  margin-top: 5px;
  border-radius: 3px;
}

.chat-markup a:hover {
  text-decoration: underline;
}

.chat-markup .mention {
  background-color: rgba($primary-colour, .2);
}

.chat-markup .mention:hover {
  color: #fff !important;
  background-color: rgba($primary-colour, .9) !important;
}

.chat-box {
  /*border: 2px solid var(--outline-colour);*/
  padding-top: 20px;
  border-top: 1px solid var(--outline-colour);
  margin-bottom: 30px;
  position: relative;
}

.chat-box-wrapper {
  background: #fff;
  padding-right: 2rem;
}

.chat-box-inner {
  border: 2px solid var(--outline-colour);
}

.autocomplete-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: 99;
  background-color: var(--main-bg-colour);
  color: var(--a-colour);
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.autocomplete-container .autocomplete-child {
  padding: 8px;
  height: 36px;
  border-radius: 3px;
}

.autocomplete-container .autocomplete-child.active {
  background: var(--secondary-bg-colour);
  cursor: pointer;
}

.autocomplete-container .autocomplete-child.active .autocomplete-name {
  color: var(--a-hover-colour);
}

.autocomplete-container .autocomplete-child.active .status-badge  {
  border-color: var(--secondary-bg-colour);
}

.autocomplete-container .autocomplete-child-inner {
  max-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.autocomplete-container .autocomplete-child-inner .status-badge {
  top: 15px;
  left: 13px;
  width: 6px;
  height: 6px;
  border: 1px var(--main-bg-colour) solid;
}

.autocomplete-container .autocomplete-child-inner .autocomplete-name {
  margin-left: 8px;
  color: var(--a-colour);
}

.autocomplete-container .autocomplete-child:not(:last-child) {
  margin-bottom: 5px;
}

.chat-timestamp {
  margin-left: 10px;
  color: var(--a-colour);
  font-size: 12px;
}

.chat-box .form-group {
  margin: 0;
}

.chat-send {
  position: absolute;
  top: 15px;
  right: 12px;
}

.chat-typing {
  line-height: 30px;
}

.chat-typing-wrapper {
  position: absolute;
  bottom: 0;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-actions {
  display: flex;
  flex-direction: row;
}

.chat-action {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.chat-action:hover {
  background: rgba(34, 50, 84, 0.03);
}

.chat-action:nth-child(2) {
  right: 60px;
}

.chat-message:hover .chat-content .chat-actions .chat-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-action i {
  margin: auto;
}

.chat-action:hover i {
  color: var(--a-colour);
}

.badge-hidden {
  margin-left: 5px;
}

#messages {
  padding-right: 2rem;
  display: inline;
  height: 100vh;
}

.cards-scroll .alert {
  margin-bottom: 0;
  margin-top: 50px;
}

.cards {
  padding-top: 50px;
}

.cards .card:nth-child(n+1) {
  margin-bottom: 50px;
}

.settings-wrapper {
  z-index: 9999;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0;
  transform: scale(1);
}

.scale-enter-active, .scale-leave-active {
  transition: all .2s ease;
}

.scale-enter, .scale-leave-to {
  transform: scale(1.125);
  opacity: 0;
}

.scale-under-enter-active, .scale-under-leave-active {
  transition: all .2s ease;
}

.scale-under-enter, .scale-under-leave-to {
  transform: scale(0.975);
}

.fade-enter-active, .fade-leave-active {
  transition: all .75s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.settings-sidebar {
  width: var(--sidebar-left-width);
  position: relative;
  padding-left: 4%;
  background-color: var(--main-bg-colour);
}

.settings-sidebar h3 {
  margin-bottom: 10px;
}

.settings-sidebar h3, .settings-sidebar li i, .settings-sidebar li a {
  text-indent: 10px;
}

.settings-nav li {
  margin-bottom: 2px;
}

.settings-nav li a {
  padding: 0;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  height: 35px;
  font-size: 16px;
}

.settings-nav .active a {
  font-weight: normal;
}

.settings-nav {
  padding-right: 2%;
  position: relative;
  margin-top: 0;
}

.settings-nav-heading {
  padding: 14px 0;
}

.settings-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.settings-content, .settings-sidebar {
  padding-top: 10vh;
}

.settings-content {
  padding-right: 2%;
  width: 100%;
  padding-left: 4%;
}

.settings-close {
  border: 2px solid var(--outline-colour);
  margin-right: 7%;
  margin-top: 10vh;
  margin-left: 50px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex-shrink: 0;
}

.settings-close i {
  margin-right: 0;
}

.setting-name {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.heading-body {
  margin-bottom: 100px;
}

.heading-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.heading-section.flex-column {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.heading-title {
  margin-bottom: 1rem;
}

.heading-subtitle {
  margin-bottom: 15px;
}

.heading-text {
  margin-top: -10px;
}

.toggle {
	height: 0;
	width: 0;
	visibility: hidden;
  display: none;
}

.toggle-label {
	cursor: pointer;
	text-indent: -9999px;
	width: calc(200px * 0.22);
	height: calc(100px * 0.22);
	background: var(--a-colour);
	display: block;
	border-radius: 100px;
	position: relative;
  margin: 0;
}

.toggle-label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 3px;
	width: calc(90px * 0.2);
	height: calc(90px * 0.2);
	background: #fff;
	border-radius: 90px;
	transition: 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

input:checked + label {
	background: var(--primary-colour);
}

input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.toggle-label:active:after {
	width: calc(130px* 0.2);
}

.inline-scroll {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inline-scroll h1 {
  text-align: center;
}

.inline-scroll::-webkit-scrollbar {
  width: 14px;
  border: 2px transparent solid;
}

.inline-scroll::-webkit-scrollbar-track {
  background-color: #e6ecf5;
  border-color: transparent;
  border-radius: 4px;
}

.inline-scroll::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #2f313a !important;
  border-radius: 4px;
}

.inline-scroll::-webkit-scrollbar-track-piece, .inline-scroll::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid #fff;
  border-radius: 7px;
}

.inline-scroll.scroll-dark::-webkit-scrollbar {
  width: 5px;
}

.inline-scroll.scroll-dark::-webkit-scrollbar-track {
  border-color: transparent;
  border-radius: 4px;
  background: none;
}

.inline-scroll.scroll-dark::-webkit-scrollbar-track-piece, .inline-scroll.scroll-dark::-webkit-scrollbar-thumb {
  border: none;
}

.inline-scroll.scroll-dark::-webkit-scrollbar-thumb {
  background-color: var(--secondary-bg-colour) !important;
  border: none;
}

.typing-indicator {
  width: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.typing-indicator span {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 1px;
  background-color: #2f313a;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
  animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
  animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
  animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  :root {
      --sidebar-left-width: 300px;
  }
}

@media screen and (max-width: 992px) {
  :root {
      --sidebar-width: 250px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --sidebar-width: 100vw;
    --sidebar-left-width: 100vw;
  }
  .navbar {
    margin: 0;
  }
  .navbar, .content {
    margin-left: 0;
    padding-left: calc(0.5 * 2rem);
  }
  .chat-wrapper {
    min-height: 0;
  }
  .sidebar-left .close {
    display: flex;
  }
  .navbar-nav.ml-auto {
    padding-right: calc(0.5 * 2rem)
  }
  .input-modal .modal-dialog .modal-content .modal-body .form-group .form-field {
    width: auto;
  }
  .input-modal .modal-dialog .modal-content .modal-body .form-group label {
    left: 26px;
  }
  .form-wrapper {
    width: auto;
  }
  #avatar-group {
    flex-direction: column;
  }
  #avatar-group img {
    margin-left: 0;
    margin-top: 1rem;
  }
  .input-group {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .card-wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .card.fat {
    padding: 0;
  }
  .card.fat .card-body {
    padding: 15px;
  }
}
