// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// External CSS
@import '~at-ui-style/src/index.scss'; // AT-UI
@import 'offline-ui';
@import 'tooltips';
@import '~vuejs-dialog/dist/vuejs-dialog.min.css';

// Remove outline on focus/active element
*:focus, input, input[type=checkbox]:focus, label::before, input[type=radio]:focus, label::before, button, button:focus, a {
  outline: none !important;
  box-shadow: none !important;
}

h6 {
  font-size: 12px;
}

.app-container, main {
  width: 100vw;
  width: 100%;
  height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.container, .container-fluid, .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  &-darker {
    background: $darker !important;
  }

  &-darkest {
    background: $darkest !important;
  }

  &-alt {
    background: $light-alt !important;
  }
}

.col {
  flex-direction: column !important;

  &-alt {
    background: $light-alt !important;
  }
}

.text {
  &-light {
    color: $light-alt !important;
  }
}

.border {
  &-dark {
    border-color: $dark !important;
  }

  &-darker {
    border-color: $darker !important;
  }

  &-darkest {
    border-color: $darkest !important;
  }

  &-light {
    border-color: $gray-300 !important;
  }
}

.h-100v {
  height: 100vh !important;
}

.px-20p {
  padding: 0 20% !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.h-48 {
  height: 48px !important;
}

.w-50p {
  width: 50% !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

/* AT-UI STYLING */

.at-textarea {
  &__original {
    font-size: 14px !important;
  }

  &.dark .at-textarea {
    &__original {
      border-color: $darkest !important;
      background-color: $darker !important;

      &:hover, &:focus {
        border-color: #79A1EB !important;
      }
    }
  }
}

.at-input {
  &.dark .at-input {
    &__original {
      color: $light-alt !important;
      border-color: $darkest !important;
      background-color: $darker !important;

      &:hover, &:focus {
        border-color: #79A1EB !important;
      }
    }
  }

  &.darker .at-input {
    &__original {
      color: $light-alt !important;
      border-color: #000 !important;
      background-color: $darkest !important;

      &:hover, &:focus {
        border-color: #79A1EB !important;
      }
    }
  }
}

.at-loading-bar {
  z-index: 100;
  height: 4px !important;
}

.at-menu {
  &__item {
    i.hover {
      display: none;
    }

    &:hover i.hover, &--active i.hover {
      display: block;
    }
  }

  &--vertical .at-menu {
    &__item-link {
      padding: 0;

      > div {
        padding: 12px 16px 12px 32px;
      }
    }
  }

  &--dark &__item:hover &__item-link .status-badge sup {
    border-color: #273A52;
  }
}

.at-btn {
  &--text {
    &:hover .at-btn {
      &__text {
        text-decoration: underline;
      }
    }
  }
}

.dark-mode {
  & .at-modal {
    background-color: $dark;

    p, h1, h2, h3, h4, h5, h6 {
      color: $light !important;
    }
  }
}

.avatar {
  &__text {
    opacity: 0;
  }
  &__text:hover {
    opacity: .5;
  }

  border: none;

  &--active {
    border: 2px solid $color-success;
  }
}

.status-badge {
  $self: &;
  position: relative;
  display: inline-block;

  &__content {
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: $offline;
    top: initial;
    right: -4px;
    bottom: -4px;
    border: 2px solid $light-bg--primary;
  }

  &--online {
    #{ $self }__content {
      background-color: $online;
    }
  }

  &--away {
    #{ $self }__content {
      background-color: $idle;
    }
  }

  &--dark {
    #{ $self }__content {
      border-color: $dark;
    }
  }

  &--darker {
    #{ $self }__content {
      border-color: $darker;
    }
  }
}

.mention {
  color: $primary !important;
  background-color: rgba($primary, 0.2);
  transition: all .2s ease;

  &:hover {
    background-color: rgba($primary, 0.6);
    color: lighten($primary, 30%) !important;
  }
}

.autocomplete-item {
  &.active {
    background-color: lighten($dark-bg--primary, 3);
  }
}

.dropdown {
  $self: &;

  &-toggle {
    &::after {
      display: none;
    }
  }

  &-item {
    font-size: 0.8rem;
  }

  &-menu {
    &.dark {
      background-color: $dark !important;
      border-color: $darker !important;

      #{ $self }-item {
        color: $light !important;

        &:hover {
          color: $light !important;
          background-color: $darker !important;
        }
      }
    }
  }
}

[data-message_id] {
  > div:last-child {
    display: none;
  }

  &:hover > div:last-child {
    display: block;
  }
}

.typing-indicator {
  width: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;

  span {
    height: 8px;
    width: 8px;
    float: left;
    margin: 0 1px;
    background-color: #2f313a;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
  }

  span:nth-of-type(1) {
    -webkit-animation: 1s blink infinite 0.3333s;
    animation: 1s blink infinite 0.3333s;
  }
  span:nth-of-type(2) {
    -webkit-animation: 1s blink infinite 0.6666s;
    animation: 1s blink infinite 0.6666s;
  }
  span:nth-of-type(3) {
    -webkit-animation: 1s blink infinite 0.9999s;
    animation: 1s blink infinite 0.9999s;
  }
}

/* SCROLLBAR */
.scrollbar {
  $self: &;

  &::-webkit-scrollbar {
    width: 14px;
    border: 2px transparent solid;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-alt;
    border-color: transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: $body !important;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 3px solid $light;
    border-radius: 7px;
  }

  &.dark {
    &::-webkit-scrollbar-track {
      background-color: $darker !important;
    }

    &::-webkit-scrollbar-track-piece, &::-webkit-scrollbar-thumb {
      border-color: $dark !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $darkest !important;
    }


  }
}

/* SETTINGS CLOSE */
.flex.rounded-circle.border {
  color: #3F536E;
  border-color: #3F536E;

  &:hover {
    background-color: $light-alt;
    color: inherit;
  }

  &.dark:hover {
    background-color: $darker;
  }
}

/* LOADER */
.loader {
  display: inline-block;
  margin: 0 16px;
}

.loader {
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;

  &:before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      display: block;
      background: $primary;
      top: 37px;
      left: 19px;
      transform: translate(-18px, -18px);
      animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }

  &.dark svg {
    rect,
    polygon,
    circle {
        stroke: $light-alt !important;
    }
  }

  svg {
      display: block;
      width: 100%;
      height: 100%;
      rect,
      polygon,
      circle {
          fill: none;
          stroke: $body;
          stroke-width: 10px;
          stroke-linejoin: round;
          stroke-linecap: round;
      }
      polygon {
          stroke-dasharray: 145 (221 - 145) 145 (221 - 145);
          stroke-dashoffset: 0;
          animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
      rect {
          stroke-dasharray: (256 / 4 * 3) (256 / 4) (256 / 4 * 3) (256 / 4);
          stroke-dashoffset: 0;
          animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
      circle {
          stroke-dasharray: (200 / 4 * 3) (200 / 4) (200 / 4 * 3) (200 / 4);
          stroke-dashoffset: 75;
          animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
  }

  &.triangle {
      width: 48px;
      &:before {
          left: 21px;
          transform: translate(-10px, -18px);
          animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      }
  }

}

@keyframes pathTriangle {
  33% {
      stroke-dashoffset: 74;
  }
  66% {
      stroke-dashoffset: 147;
  }
  100% {
      stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
      transform: translate(0, 0);
  }
  66% {
      transform: translate(10px, -18px);
  }
  100% {
      transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
      stroke-dashoffset: 64;
  }
  50% {
      stroke-dashoffset: 128;
  }
  75% {
      stroke-dashoffset: 192;
  }
  100% {
      stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(18px, -18px);
  }
  75% {
      transform: translate(0, -36px);
  }
  100% {
      transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
      stroke-dashoffset: 125;
  }
  50% {
      stroke-dashoffset: 175;
  }
  75% {
      stroke-dashoffset: 225;
  }
  100% {
      stroke-dashoffset: 275;
  }
}

/* TRANSITIONS */
.scale-enter-active, .scale-leave-active {
  transition: all .2s ease;
}

.scale-enter, .scale-leave-to {
  transform: scale(1.125) !important;
  opacity: 0;
}

.scale-under-enter-active, .scale-under-leave-active {
  transition: all .2s ease;
}

.scale-under-enter, .scale-under-leave-to {
  transform: scale(0.975) !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@include media-breakpoint-down(xs) {
  .flex-column-sm {
    flex-direction: column !important;
  }
  .ml-none-sm {
    margin-left: 0 !important;
  }
}
